@import "compass";
@import "compass/utilities";
@import "compass/utilities/color";
@import "compass/css3/text-shadow";

/* Google IO Slides styles */
@import "io-2012-slides/theme/scss/base";
@import "io-2012-slides/theme/scss/default";
@import "io-2012-slides/theme/scss/phone";

/* Custom Styles for my presentation */

$grey-background: #e7e4e4;

article {
    ul {
        li {
            color: #353535;
            font-size: 30px;
        }
    }
}

.prettyprint{
    font-size: 20px;
    width: 100% + 150;
}

pre {
    left: -150px;
}

img.footer-image {
    margin: 0 0 0 100px;
}

.slide-zero {
    h2{
        margin: 0 auto;
        text-align: center;
        opacity: .75;
        -webkit-text-stroke: 4px rgba(0,0,0,.5);
        font: bold 6em Arial, sans-serif;
    }
    p{
        line-height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px;
        background: rgba(255,255,255,.75);
        width:  100%;
        margin: 0;
    }
}

.slide-one {
	text-align: center;
	img{
		margin: 0 auto;
	}
	hgroup{
		text-align: left;
		@include border-radius(10px, 10px);
		background: adjust-lightness(rgba(255,255,255,0.85), -5);
		padding: 15px;
		width: 100%;
	}
}

.slide-two{
    article {
        &:after{
            background: url("/images/yeoman-large-manager.png") no-repeat 120% 30%;
            content: "";
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
}

.thank-you-slide {
  background-color: $grey-background !important;
  color: #000;
  h2 {
    font-size: 60px;
  }
  article > p {
    margin-top: 2em;
    font-size: 20pt;
  }

  > p {
    font-size: 24pt;
    line-height: 1.3;
  }
}
