@import "compass";
@import "compass/utilities";
@import "compass/utilities/color";

/* Google IO Slides styles */
@import "io-2012-slides/theme/scss/base";
@import "io-2012-slides/theme/scss/default";
@import "io-2012-slides/theme/scss/phone";

/* Custom Styles for my presentation */

article {
    ul {
        li {
            color: #353535;
            font-size: 40px;
        }
    }
}

.slide-one {
	text-align: center;
	img{
		margin: 0 auto;
	}
	hgroup{
		text-align: left;
		@include border-radius(10px, 10px);
		background: adjust-lightness(rgba(255,255,255,0.85), -5);
		padding: 15px;
		width: 100%;
	}
}

.slide-two{
    article {
        &:after{
            background: url("/images/yeoman-large-manager.png") no-repeat 120% 30%;
            content: "";
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
}
