@import "compass";
@import "compass/utilities";
@import "compass/utilities/color";

/* Google IO Slides styles */
@import "io-2012-slides/theme/scss/base";
@import "io-2012-slides/theme/scss/default";
@import "io-2012-slides/theme/scss/phone";

/* Custom Styles for my presentation */

.slide-one {
	text-align: center;
	img{
		margin: 0 auto;
	}
	hgroup{
		text-align: left;
		@include border-radius(10px, 10px);
		background: adjust-lightness(rgba(255,255,255,0.85), -5);
		padding: 15px;
		width: 100%;
	}
}